<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <div class="header-icon"><i class="fa fa-user-md"></i></div>
      <div class="header-title">
          <h1>Add Role</h1>
          <small></small>
      </div>
  </section>

  <!-- Main content -->
    <!--profile componenent-->
  <div class="content">
      <div class="panel-body">

          <form #f="ngForm" (ngSubmit)="onsubmitRole(f)" enctype="multipart/form-data"  accept-charset="utf-8">


            <!-- <input type="hidden" name="id" value="2" /> -->

            <div class="form-group row">
                <label for="role-name" class="col-sm-3 col-form-label">Role Name*</label>
                <div class="col-sm-9">
                    <input ngModel name="position" #roleName="ngModel" required class="form-control" type="text" placeholder="Role Name" id="role-name"  value="">
                    <div class="alert alert-danger" *ngIf="roleName.touched && !roleName.valid">
                        <div *ngIf="roleName.errors.required">Field is required</div>
                     </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description </label>
                <div class="col-sm-9">
                    <textarea ngModel name="description" #description="ngModel" placeholder="Description" class="form-control" id="description"></textarea>
                    <div class="alert alert-danger" *ngIf="description.touched && !description.valid">
                        <div *ngIf="description.errors.required">Field is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" [disabled]="!f.valid" class="btn btn-success w-md m-b-5">Save</button>
                <button type="reset" class="btn btn-primary w-md m-b-5">Reset</button>
            </div>
        </form>
      </div>

  </div> <!-- /.content -->
    <!--End profile component-->
<!-- Start Page Lavel Plugins
=====================================================================-->
</div> <!-- /.content -->
