<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <div class="header-icon"><i class="fa fa-plane"></i></div>
      <div class="header-title">
          <h1>Add Task</h1>
          <small></small>
      </div>
  </section>


  <!-- Main content -->
  <!--profile componenent-->
  <div class="content">
      <!-- load messages -->
      <!-- load custom page -->
      <div class="row">
          <div class="col-sm-12 col-md-12">
              <div class="panel panel-bd lobidrag">
                  <div class="" style="padding: 0px 20px;">
                      <div class="panel-title">
                          <h4>Add Task</h4>
                      </div>
                  </div>
                  <div class="panel-body">


                      <form #f="ngForm" (ngSubmit)="submit(f)" enctype="multipart/form-data"  accept-charset="utf-8">


                          <!-- <input type="hidden" name="id" value="2" /> -->

                          <div class="form-group row">
                            <label for="employee" class="col-sm-3 col-form-label">Employee</label>
                            <div class="col-sm-9">
                                <select ngModel name="employee" class="">
                                    <option  *ngFor="let employee of employees" [ngValue]="employee">{{employee.userId}}</option>
                                   

                                </select>
                            </div>
                        </div>

                    
                          <div class="form-group row">
                              <label for="daedLine" class="col-sm-3 col-form-label">Dead Line *</label>
                              <div class="col-sm-9">
                                  <input ngModel name="deadLine" #deadline="ngModel" required class="form-control" type="date"  placeholder="Days per Month">
                                  <div class="alert alert-danger" *ngIf="deadline.touched && !deadline.valid">
                                        <div *ngIf="deadline.errors.required">Field is required</div>
                                    </div>
                              
                                </div>
                          </div>


                          <div class="form-group row">
                              <label for="description" class="col-sm-3 col-form-label">Description</label>
                              <div class="col-sm-9">
                                  <textarea ngModel name="description" #description="ngModel" placeholder="Description" class="form-control" id="description"></textarea>
                              </div>
                          </div>

                          <div class="form-group text-right">
                              <button type="submit" [disabled]="!f.valid" class="btn btn-success w-md m-b-5">Save</button>
                              <button type="reset" class="btn btn-primary w-md m-b-5">Reset</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>

  </div> <!-- /.content -->
  <!--End profile component-->
<!-- Start Page Lavel Plugins
=====================================================================-->



</div> <!-- /.content -->