 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon"><i class="fa fa-home"></i></div>
        <div class="header-title">
            <h1>Dashboard / Home</h1>
            <small></small>
        </div>
    </section>


<!-- Main content -->
<div class="content">
    <!-- load messages -->
    <!-- load custom page -->
      <!-- Start Theme Layout Style
      =====================================================================-->
        <!-- Theme style -->
          <div class="se-pre-con"></div>

          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="panel cardbox bg-primary">
                      <div class="panel-body card-item panel-refresh">
                          <!--<a class="refresh" href="#">-->
                              <!--<span class="fa fa-refresh"></span>-->
                          <!--</a>-->
                          <div class="refresh-container"><i class="refresh-spinner fa fa-spinner fa-spin fa-5x"></i>
                          </div>
                          <div class="timer"><span class="">Hello</span></div>
                          <div class="cardbox-icon">
                              <i class="material-icons">people</i>
                          </div>
                          <div class="card-details">
                              <h4>Welcome To</h4>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="panel cardbox bg-warning">
                      <div class="panel-body card-item panel-refresh">
                          <!--<a class="refresh2" href="#">-->
                              <!--<span class="fa fa-refresh"></span>-->
                          <!--</a>-->
                          <div class="refresh-container"><i class="refresh-spinner fa fa-spinner fa-spin fa-5x"></i>
                          </div>
                          <div class="timer"><span class=""></span></div>
                          <div class="cardbox-icon">
                              <i class="material-icons">perm_contact_calendar</i>
                          </div>
                          <div class="card-details">
                              <h4>Titans</h4>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./counter Number -->
          </div>


  </div>
  <!-- Start Page Lavel Plugins
  =====================================================================-->

</div> <!-- /.content -->
