<!--<app-side-bar></app-side-bar>-->
<!--<app-employee-nav-bar></app-employee-nav-bar>-->
<!--<app-manager-nav-bar></app-manager-nav-bar>-->


<!--<app-employee-login></app-employee-login>-->
<!--<app-admin-login></app-admin-login>-->

<router-outlet></router-outlet>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- <app-add-notice></app-add-notice> -->
<!-- <app-manage-payroll></app-manage-payroll> -->
<!-- <app-add-leave-model></app-add-leave-model> -->
<!-- <app-add-employee></app-add-employee> -->
<!-- <app-manage-notice></app-manage-notice> -->
<!-- <app-manage-leave></app-manage-leave> -->
<!-- <app-manage-role></app-manage-role> -->
<!-- <app-add-role></app-add-role> -->
<!-- <app-manage-employee></app-manage-employee> -->
<!-- <app-add-payroll></app-add-payroll> -->
<!-- <app-admin-home></app-admin-home> -->
