<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <div class="header-icon"><i class="fa fa-comment"></i></div>
      <div class="header-title">
          <h1>Manage Notice</h1>
          <small></small>
      </div>
  </section>


  <!-- Main content -->
  <!--profile componenent-->
  <!-- Main content -->
  <div class="content">
      <div class="row">
          <!--  table area -->
          <div class="col-sm-12">

              <div class="panel panel-default thumbnail">

                  <div class="panel-body table-responsive">
                      <table width="100%" class="datatable table table-striped table-bordered table-hover">
                          <thead>
                          <tr>
                              <th>SL No</th>
                              <th>Heading</th>
                              <th>Description</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let notice of notices" class="odd gradeX">
                              <td>1</td>
                              <td>{{notice.title}}</td>
                              <td>{{notice.message}}</td>

                           <td class="center">
                                  <a href="Employees/update_employee_form/EJONE6AK" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                                  <a class="btn btn-xs btn-danger" (click)="delete(notice.nId)"><i class="fa fa-trash"></i></a>
                              </td>
                          </tr>
                  
                          </tbody>
                      </table>  <!-- /.table-responsive -->
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- /.content -->

  <!--End profile component-->
<!-- Start Page Lavel Plugins
=====================================================================-->



</div> <!-- /.content -->
